.header {
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: fixed;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

    & li {
        list-style-type: none;
        padding: 15px 20px; 
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & a:hover {
        opacity: 0.6;
    }
}

.navbar__blog {
    display: none;
}