@import 'mixins';

.home {
    @include content-adjusted();
    background-color: #DF9881;
    margin-bottom: 50px;
    @include box-shadow();

    .home__title {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .home__title span:not(.fade) {
        opacity:0;
        transform: translateY(50%) rotate(45deg);
      }
      
    .home__title span {
        transition:all .4s;
        display:inline-block;
    }

    .home__title + .animated-text--typing {
        font-size: 1.2em;
    }

}

.animated-text--typing span.fade + span:not(.fade) {
    transition: none;
    background:rgb(255, 255, 255);
    opacity:1;
    transform: none;
    color:transparent;
}