@import 'mixins';

.home {
    @include content-adjusted();
    background-color: #DF9881;
    margin-bottom: 50px;
    @include box-shadow();

    .home__title {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .home__text {
        font-size: 1.2em;
    }
}

