.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: #776d8a;
    margin-bottom: 50px;
    color: white;

    &__title {
        align-self: center;
        font-size: 3em;
    }

    &__content {
        align-self: flex-end;
        padding-bottom: 30px;

        &.content__text {
            line-height: 1.9;
            margin-bottom: 220px;
        }
    }

    &__gallery {
        align-self: center;
        flex-wrap: wrap;
        width: 400px;
        padding: 25px 25px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.096);
        line-height: 1.8;

        &.block{
            margin-bottom: 25px;
            padding: 20px 20px;
            background-color: #776d8a;
            width: 348px;        

            &.--six {
                margin: 0;
            }
        }


        & a {
            text-decoration: none;
            color: white;
        }

        & a:visited {
            color: white;
        }

        & i{
            font-size: 40px;
            float:left;
            margin-right: 20px;
        }

        & i:hover {
            opacity: 0.7;
        }

    }
}
