.networks {
    @include content-adjusted();
    background-color: #79a3b1;

    &__title {
        margin-bottom: 30px;
        font-size: 3em;

        &.--small {
            font-size: 2em;
            margin-bottom: 35px;
        }
    }

    &__text {
        text-align: center;
        line-height: 1.8;
        margin-bottom: 100px;
    }

    &__videos {
        margin-bottom: 100px;
        display: flex;
        

        &.block {
            width: 400px;
            height: 220px;
            border: 1px solid white;
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.2);
        }

        &.block svg {
            font-size: 80px;
            border: 3px solid white;
            border-radius: 50%;
            padding: 20px 20px;   
            background-color: #79a3b1;
            
            -webkit-filter: grayscale(0) blur(0px);
            filter: grayscale(0) blur(0px);
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        &.block svg:hover {
            border-radius: 50%;  /* on arrondit l'image */
            -webkit-transform: rotate(360deg); /* rotation de l'image */
            transform: rotate(360deg);
        }

        &.block:hover > .description {
            animation: my-animation 1s ease infinite;
            display: flex; 
            opacity: 1;
        }

        &.block a {
            color: white;
        }
        
        &.block p {
            display: none;
            margin-top: 25px;
            text-align: center;
        }

    }

    &__social {
        width: 150px;
        display: flex;
        justify-content: space-around;
        font-size: 30px;

        & a {
            color: white;
            overflow: hidden;
        }

        & svg {
            opacity: 0.5;
        }

        & svg:hover {
            opacity: 1;
        }
    }

}

.footer__text {
    margin-top: 50px;
    font-size: 0.8em;
    opacity: 0.5;
}
