.header {
  width: 100%;
  height: 50px;
  background-color: transparent;
  position: fixed;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.navbar ul li {
  list-style-type: none;
  padding: 15px 20px;
}
.navbar ul a {
  text-decoration: none;
  color: white;
}
.navbar ul a:hover {
  opacity: 0.6;
}

.navbar__blog {
  display: none;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #DF9881;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  -moz-box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
}
.home .home__title {
  font-size: 3em;
  margin-bottom: 20px;
}
.home .home__title span:not(.fade) {
  opacity: 0;
  transform: translateY(50%) rotate(45deg);
}
.home .home__title span {
  transition: all 0.4s;
  display: inline-block;
}
.home .home__title + .animated-text--typing {
  font-size: 1.2em;
}

.animated-text--typing span.fade + span:not(.fade) {
  transition: none;
  background: white;
  opacity: 1;
  transform: none;
  color: transparent;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #9dad7f;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  -moz-box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__title {
  font-size: 3em;
  color: white;
}
.about__text {
  font-size: 1.2em;
  color: white;
  line-height: 1.9;
}

.skills {
  width: 100%;
  height: 100vh;
  background-color: #9dad7f;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  -moz-box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(192, 192, 192, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e3d0b9;
  margin-bottom: 50px;
  color: white;
}
.skills__title {
  font-size: 3em;
}
.skills__block {
  font-size: 80px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 5px;
}
.skills__block a {
  text-decoration: none;
  color: white;
}
.skills__block a:visited {
  color: white;
}
.skills__block svg {
  margin: 20px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.skills__block svg:hover {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.skills__text {
  font-size: 0.2em;
  font-style: italic;
}

.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: #776d8a;
  margin-bottom: 50px;
  color: white;
}
.projects__title {
  align-self: center;
  font-size: 3em;
}
.projects__content {
  align-self: flex-end;
  padding-bottom: 30px;
}
.projects__gallery {
  align-self: center;
  flex-wrap: wrap;
  width: 400px;
  padding: 25px 25px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.096);
  line-height: 1.8;
}
.projects__gallery.block {
  margin-bottom: 25px;
  padding: 20px 20px;
  background-color: #776d8a;
  width: 348px;
}
.projects__gallery.block.--six {
  margin: 0;
}
.projects__gallery a {
  text-decoration: none;
  color: white;
}
.projects__gallery a:visited {
  color: white;
}
.projects__gallery svg {
  font-size: 50px;
  float: left;
  margin-right: 20px;
}
.projects__gallery svg:hover {
  opacity: 0.7;
}

.content__text {
  line-height: 1.9;
  margin-bottom: 220px;
}

.networks {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #79a3b1;
}
.networks__title {
  margin-bottom: 30px;
  font-size: 3em;
}
.networks__title.--small {
  font-size: 2em;
  margin-bottom: 35px;
}
.networks__text {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 100px;
}
.networks__videos {
  margin-bottom: 100px;
  display: flex;
}
.networks__videos.block {
  width: 400px;
  height: 220px;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
}
.networks__videos.block svg {
  font-size: 80px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 20px 20px;
  background-color: #79a3b1;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.networks__videos.block svg:hover {
  border-radius: 50%;
  /* on arrondit l'image */
  -webkit-transform: rotate(360deg);
  /* rotation de l'image */
  transform: rotate(360deg);
}
.networks__videos.block:hover > .description {
  animation: my-animation 1s ease infinite;
  display: flex;
  opacity: 1;
}
.networks__videos.block a {
  color: white;
}
.networks__videos.block p {
  display: none;
  margin-top: 25px;
  text-align: center;
}
.networks__social {
  width: 150px;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.networks__social a {
  color: white;
  overflow: hidden;
}
.networks__social svg {
  opacity: 0.5;
}
.networks__social svg:hover {
  opacity: 1;
}

.footer__text {
  margin-top: 50px;
  font-size: 0.8em;
  opacity: 0.5;
}

/* Partie Responsive - Header */
@media screen and (max-width: 768px) {
  .navbar ul {
    justify-content: center;
    margin: 0;
  }
}
@media screen and (max-width: 628px) {
  .navbar ul {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
}
@media screen and (min-width: 375px) and (max-width: 540px) {
  .navbar ul {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
}
@media screen and (max-width: 375px) {
  .navbar ul {
    display: none;
  }

  .navbar__blog {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
  }
  .navbar__blog:hover {
    opacity: 0.6;
  }
}
/* Partie Responsive - Home */
@media screen and (max-width: 628px) {
  .home__title {
    text-align: center;
    font-size: 2.2em !important;
  }
  .home__title.animated-text--typing {
    font-size: 1.2em !important;
  }
}
@media screen and (max-width: 490px) {
  .home__title {
    font-size: 2em !important;
  }
  .home__title.animated-text--typing {
    font-size: 1.2em !important;
  }
}
@media screen and (min-width: 375px) and (max-width: 430px) {
  .home__title {
    font-size: 1.7em !important;
  }
  .home__title.animated-text--typing {
    font-size: 1em !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 375px) {
  .home__title {
    font-size: 1.5em !important;
  }
  .home__title.animated-text--typing {
    font-size: 0.9em !important;
  }
}
@media screen and (max-width: 310px) {
  .home__title {
    font-size: 1.3em !important;
  }
  .home__title.animated-text--typing {
    font-size: 0.8em !important;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f1f1;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=style.css.map */
