/* Partie Responsive - Projects */

@media screen and (max-width: 1262px) {
    .projects {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;

        &__title {
            margin-top: 80px;
            margin-bottom: 70px;
        }

        &__content {
            align-self: center;
            padding-bottom: 30px;
            text-align: center;
            margin-bottom: 40px;

            &.content__title {
                margin-bottom: 10px;
            }

            &.content__text {
                line-height: 1.9;
                margin-bottom: 0;
            }
        }

        &__gallery {
            margin-bottom: 110px;
        }
    }
 }