/* Partie Responsive - Skills */

@media screen and (max-width: 842px) {
    .skills {
        flex-direction: column;
        justify-content: center;

        &__title {
           margin-bottom: 100px;
        }
    }

    .break__1 {
        display: none;
    }
}

@media screen and (max-width: 492px) {
    .skills__title {
        font-size: 3em;
    }

    .break__1 {
        display: flex;
    }
}

@media screen and (max-width: 398px) {
    .skills__title {
        font-size: 2.2em;
    }

    .skills__block { 
        font-size: 60px;
    }
}
